i {
    /* // color: */
} 

.tile {
    line-height: 120px;
    height: 120px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}

.tile.color-primary {
    background-color: red;
}

.tile.color-secondary {
    background-color: red;
}

.tile.color-tertiary {
    background-color: red;
}

.tile.color-success {
    background-color: red;
}

.tile.color-info {
    background-color: red;
}

.tile.color-danger {
    background-color: red;
}

.tile.color-gray-light {
    background-color: red;
}

.tile.color-gray-medium {
    background-color: red;
}

.tile.icon-left-arrow {
    
}

.tile.icon-right-arrow {
    
}

.tile.icon-top-arrow {
    
}

.tile.icon-down-arrow {
    
}

.tile.icon-cart {

}

.tile.icon-admin {

}

.tile.icon-edit {

}

.tile.icon-save {

}